<form action="/readings/new" method="POST">
    Date: <input type="datetime" name="date">
    <br/>
    Indoor: <input type="decimal" name="indoor_temperature">
    <br/>
    Outdoor: <input type="decimal" name="outdoor_temperature">
    <br />
    <input type="submit">
</form>
